<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" novalidate>
  <ng-container *ngFor="let controls of jsonResponse">
    <div class="control">
      <label>
        {{ controls.label }}
      </label>

      <input [type]="controls.type" [formControlName]="controls.label" />

      <ng-container *ngFor="let validation of controls.validations">
        <span
          *ngIf="
            dynamicForm.controls[controls.label].touched &&
            dynamicForm.controls[controls.label].errors
          "
        >
          <p
            class="error"
            *ngIf="dynamicForm.controls[controls.label].errors[validation.name]"
          >
            {{ validation.message }}
          </p>
        </span>
      </ng-container>
    </div>
  </ng-container>
  <br />
  <input type="submit" [disabled]="!dynamicForm.valid" />
</form>

<hr />

<details>
  <summary><code>jsonResponse</code></summary>
  <pre>{{ jsonResponse | json }}</pre>
</details>
