<div class="container">
  <form
    [formGroup]="dynamicForm"
    (ngSubmit)="onSubmit()"
    novalidate
    class="mb-4"
  >
    <ng-container *ngFor="let controls of jsonResponse">
      <div class="control flex flex-col pb-4">
        <label>
          {{ controls.label }}
        </label>

        <ng-container
          *ngIf="
            controls.inputType === 'text' || controls.inputType === 'password'
          "
        >
          <input
            class="rounded-md"
            [type]="controls.inputType"
            [formControlName]="controls.label"
          />
        </ng-container>

        <ng-container *ngIf="controls.inputType === 'textarea'">
          <textarea
            class="rounded-md"
            [formControlName]="controls.label"
          ></textarea>
        </ng-container>

        <ng-container *ngFor="let validation of controls.validations">
          <span
            *ngIf="
              dynamicForm.controls[controls.label].touched &&
              dynamicForm.controls[controls.label].errors
            "
            style="color:red;"
          >
            <p
              class="error"
              *ngIf="
                dynamicForm.controls[controls.label].errors[validation.name]
              "
            >
              {{ validation.message }}
            </p>
          </span>
        </ng-container>
      </div>
    </ng-container>
    <br />
    <button
      class="
        bg-blue-500
        hover:bg-blue-700
        text-white
        font-bold
        py-2
        px-4
        rounded
        focus:outline-none focus:shadow-outline
      "
      type="submit"
      [disabled]="!dynamicForm.valid"
    >
      Submit
    </button>
  </form>

  <hr />

  <details>
    <summary><code>jsonResponse</code></summary>
    <pre>{{ jsonResponse | json }}</pre>
  </details>
</div>
